# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.sln             -text diff
*.vcxproj         -text diff
*.vcxproj.filters -text diff
