# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio build results
Win32_2008
Win32_2010
Win32_2012
x64_2008
x64_2010
x64_2012
*.ncb
*.vcproj.*
*.vcxproj.*
*.suo
*.sdf
*.opensdf

# FreeType build results
objs

# vi swap files
*.swp

# make dependencies
*.d

# gyp generated makefiles
nvpr_examples/skia/out/gyp/*.mk
*.Makefile

# temporary files
*~

# Skia build intermediates
out/Debug/
out/Makefile

# Harfbuzz intermediates
.deps/
*.cache

# stuff that gets built to ignore
fms_shape/fms_shape
harfbuzz/Makefile
harfbuzz/aclocal.m4
harfbuzz/config.h
harfbuzz/config.log
harfbuzz/config.status
harfbuzz/docs/Makefile
harfbuzz/docs/reference/Makefile
harfbuzz/docs/reference/version.xml
harfbuzz/m4/libtool.m4
harfbuzz/m4/ltoptions.m4
harfbuzz/m4/ltsugar.m4
harfbuzz/m4/ltversion.m4
harfbuzz/m4/lt~obsolete.m4
harfbuzz/src/.libs/
harfbuzz/src/Makefile
harfbuzz/src/harfbuzz-icu.pc
harfbuzz/src/harfbuzz.pc
harfbuzz/src/hb-ucdn/Makefile
harfbuzz/src/main
harfbuzz/src/test
harfbuzz/src/test-buffer-serialize
harfbuzz/src/test-size-params
harfbuzz/src/test-would-substitute
harfbuzz/stamp-h1
harfbuzz/test-driver
harfbuzz/test/Makefile
harfbuzz/test/api/.libs/
harfbuzz/test/api/Makefile
harfbuzz/test/api/test-blob
harfbuzz/test/api/test-buffer
harfbuzz/test/api/test-c
harfbuzz/test/api/test-common
harfbuzz/test/api/test-cplusplus
harfbuzz/test/api/test-font
harfbuzz/test/api/test-object
harfbuzz/test/api/test-ot-tag
harfbuzz/test/api/test-set
harfbuzz/test/api/test-shape
harfbuzz/test/api/test-unicode
harfbuzz/test/api/test-version
harfbuzz/test/shaping/Makefile
harfbuzz/util/.libs/
harfbuzz/util/Makefile
harfbuzz/util/hb-ot-shape-closure
harfbuzz/util/hb-shape
harfbuzz/util/hb-view
nvpr_basic/nvpr_basic
nvpr_cmyk/nvpr_cmyk
nvpr_cursive/nvpr_cursive
nvpr_font_file/nvpr_font_file
nvpr_gears/nvpr_gears
nvpr_glsl/nvpr_glsl
nvpr_gradient/nvpr_gradient
nvpr_hello_world/nvpr_hello_world
nvpr_korean/nvpr_korean
nvpr_morph/nvpr_morph
nvpr_pick/nvpr_pick
nvpr_shaders/nvpr_shaders
nvpr_stroke_edging/nvpr_stroke_edging
nvpr_svg/nvpr_svg
nvpr_text_shape/nvpr_text_shape
nvpr_text_wheel/nvpr_text_wheel
nvpr_tiger/nvpr_tiger
nvpr_tiger3d/nvpr_tiger3d
nvpr_tiger_fms/nvpr_tiger_fms
nvpr_warp_tiger/nvpr_warp_tiger
nvpr_welsh_dragon/nvpr_welsh_dragon
nvpr_whitepaper/nvpr_whitepaper
skia/out/Debug/
skia/out/Makefile
skia/out/all.target.mk

# more file
nvpr_examples/fms_shape/fms_shape
nvpr_examples/harfbuzz/Makefile
nvpr_examples/harfbuzz/aclocal.m4
nvpr_examples/harfbuzz/config.h
nvpr_examples/harfbuzz/config.log
nvpr_examples/harfbuzz/config.status
nvpr_examples/harfbuzz/docs/Makefile
nvpr_examples/harfbuzz/docs/reference/Makefile
nvpr_examples/harfbuzz/docs/reference/version.xml
nvpr_examples/harfbuzz/m4/libtool.m4
nvpr_examples/harfbuzz/m4/ltoptions.m4
nvpr_examples/harfbuzz/m4/ltsugar.m4
nvpr_examples/harfbuzz/m4/ltversion.m4
nvpr_examples/harfbuzz/m4/lt~obsolete.m4
nvpr_examples/harfbuzz/src/.libs/
nvpr_examples/harfbuzz/src/Makefile
nvpr_examples/harfbuzz/src/harfbuzz-icu.pc
nvpr_examples/harfbuzz/src/harfbuzz.pc
nvpr_examples/harfbuzz/src/hb-ucdn/Makefile
nvpr_examples/harfbuzz/src/main
nvpr_examples/harfbuzz/src/test
nvpr_examples/harfbuzz/src/test-buffer-serialize
nvpr_examples/harfbuzz/src/test-size-params
nvpr_examples/harfbuzz/src/test-would-substitute
nvpr_examples/harfbuzz/stamp-h1
nvpr_examples/harfbuzz/test-driver
nvpr_examples/harfbuzz/test/Makefile
nvpr_examples/harfbuzz/test/api/.libs/
nvpr_examples/harfbuzz/test/api/Makefile
nvpr_examples/harfbuzz/test/api/test-blob
nvpr_examples/harfbuzz/test/api/test-buffer
nvpr_examples/harfbuzz/test/api/test-c
nvpr_examples/harfbuzz/test/api/test-common
nvpr_examples/harfbuzz/test/api/test-cplusplus
nvpr_examples/harfbuzz/test/api/test-font
nvpr_examples/harfbuzz/test/api/test-object
nvpr_examples/harfbuzz/test/api/test-ot-tag
nvpr_examples/harfbuzz/test/api/test-set
nvpr_examples/harfbuzz/test/api/test-shape
nvpr_examples/harfbuzz/test/api/test-unicode
nvpr_examples/harfbuzz/test/api/test-version
nvpr_examples/harfbuzz/test/shaping/Makefile
nvpr_examples/harfbuzz/util/.libs/
nvpr_examples/harfbuzz/util/Makefile
nvpr_examples/harfbuzz/util/hb-ot-shape-closure
nvpr_examples/harfbuzz/util/hb-shape
nvpr_examples/harfbuzz/util/hb-view
nvpr_examples/nvpr_basic/nvpr_basic
nvpr_examples/nvpr_cmyk/nvpr_cmyk
nvpr_examples/nvpr_cursive/nvpr_cursive
nvpr_examples/nvpr_font_file/nvpr_font_file
nvpr_examples/nvpr_gears/nvpr_gears
nvpr_examples/nvpr_glsl/nvpr_glsl
nvpr_examples/nvpr_gradient/nvpr_gradient
nvpr_examples/nvpr_hello_world/nvpr_hello_world
nvpr_examples/nvpr_korean/nvpr_korean
nvpr_examples/nvpr_morph/nvpr_morph
nvpr_examples/nvpr_pick/nvpr_pick
nvpr_examples/nvpr_shaders/nvpr_shaders
nvpr_examples/nvpr_stroke_edging/nvpr_stroke_edging
nvpr_examples/nvpr_svg/nvpr_svg
nvpr_examples/nvpr_text_shape/nvpr_text_shape
nvpr_examples/nvpr_text_wheel/nvpr_text_wheel
nvpr_examples/nvpr_tiger/nvpr_tiger
nvpr_examples/nvpr_tiger3d/nvpr_tiger3d
nvpr_examples/nvpr_tiger_fms/nvpr_tiger_fms
nvpr_examples/nvpr_warp_tiger/nvpr_warp_tiger
nvpr_examples/nvpr_welsh_dragon/nvpr_welsh_dragon
nvpr_examples/nvpr_whitepaper/nvpr_whitepaper
nvpr_examples/skia/out/Debug/
nvpr_examples/skia/out/Makefile
nvpr_examples/skia/out/all.target.mk

# more harfbuzz stuff to ignore
nvpr_examples/harfbuzz/INSTALL
nvpr_examples/harfbuzz/Makefile.in
nvpr_examples/harfbuzz/ar-lib
nvpr_examples/harfbuzz/compile
nvpr_examples/harfbuzz/config.guess
nvpr_examples/harfbuzz/config.h.in
nvpr_examples/harfbuzz/config.sub
nvpr_examples/harfbuzz/configure
nvpr_examples/harfbuzz/depcomp
nvpr_examples/harfbuzz/docs/Makefile.in
nvpr_examples/harfbuzz/docs/reference/Makefile.in
nvpr_examples/harfbuzz/gtk-doc.make
nvpr_examples/harfbuzz/install-sh
nvpr_examples/harfbuzz/libtool
nvpr_examples/harfbuzz/ltmain.sh
nvpr_examples/harfbuzz/m4/gtk-doc.m4
nvpr_examples/harfbuzz/missing
nvpr_examples/harfbuzz/src/Makefile.in
nvpr_examples/harfbuzz/src/hb-ucdn/Makefile.in
nvpr_examples/harfbuzz/src/hb-version.h
nvpr_examples/harfbuzz/test/Makefile.in
nvpr_examples/harfbuzz/test/api/Makefile.in
nvpr_examples/harfbuzz/test/shaping/Makefile.in
nvpr_examples/harfbuzz/util/Makefile.in

